<launch> 
  <group ns="tb0">
    <param name="tf_prefix" value="tb0" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >
	  <arg name="init_pose_x" value="5" />  
	  <arg name="init_pose_y" value="-0.25" />
	  <arg name="init_pose_yaw" value="3.14159267" />
      <arg name="robot_name" value="tb0" />
    </include>
  </group>

  <group ns="tb1">
    <param name="tf_prefix" value="tb1" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="0.25" />  
	  <arg name="init_pose_y" value="5" />
	  <arg name="init_pose_yaw" value="-1.570796" />
      <arg name="robot_name" value="tb1" />
    </include>
  </group>

  <group ns="tb2">
    <param name="tf_prefix" value="tb2" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="-5" />  
	  <arg name="init_pose_y" value="0.25" />
	  <arg name="init_pose_yaw" value="0" />
      <arg name="robot_name" value="tb2" />
    </include>
  </group>

  <group ns="tb3">
    <param name="tf_prefix" value="tb3" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-0.25" />  
	  <arg name="init_pose_y" value="-5" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb3" />
    </include>
  </group>


  <group ns="tb4">
    <param name="tf_prefix" value="tb4" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >
	  <arg name="init_pose_x" value="6" />  
	  <arg name="init_pose_y" value="-0.25" />
	  <arg name="init_pose_yaw" value="3.14159267" />
      <arg name="robot_name" value="tb4" />
    </include>
  </group>

  <group ns="tb5">
    <param name="tf_prefix" value="tb5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="0.25" />  
	  <arg name="init_pose_y" value="6" />
	  <arg name="init_pose_yaw" value="-1.570796" />
      <arg name="robot_name" value="tb5" />
    </include>
  </group>

  <group ns="tb6">
    <param name="tf_prefix" value="tb6" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="-6" />  
	  <arg name="init_pose_y" value="0.25" />
	  <arg name="init_pose_yaw" value="0" />
      <arg name="robot_name" value="tb6" />
    </include>
  </group>

  <group ns="tb7">
    <param name="tf_prefix" value="tb7" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-0.25" />  
	  <arg name="init_pose_y" value="-6" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb7" />
    </include>
  </group>

  <group ns="tb8">
    <param name="tf_prefix" value="tb8" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >
	  <arg name="init_pose_x" value="7" />  
	  <arg name="init_pose_y" value="-0.25" />
	  <arg name="init_pose_yaw" value="3.14159267" />
      <arg name="robot_name" value="tb8" />
    </include>
  </group>

  <group ns="tb12">
    <param name="tf_prefix" value="tb12" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >
	  <arg name="init_pose_x" value="8" />  
	  <arg name="init_pose_y" value="-0.25" />
	  <arg name="init_pose_yaw" value="3.14159267" />
      <arg name="robot_name" value="tb12" />
    </include>
  </group>

  <group ns="tb16">
    <param name="tf_prefix" value="tb16" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >
	  <arg name="init_pose_x" value="9" />  
	  <arg name="init_pose_y" value="-0.25" />
	  <arg name="init_pose_yaw" value="3.14159267" />
      <arg name="robot_name" value="tb16" />
    </include>
  </group>

  <group ns="tb9">
    <param name="tf_prefix" value="tb9" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="0.25" />  
	  <arg name="init_pose_y" value="7" />
	  <arg name="init_pose_yaw" value="-1.570796" />
      <arg name="robot_name" value="tb9" />
    </include>
  </group>

  <group ns="tb13">
    <param name="tf_prefix" value="tb13" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="0.25" />  
	  <arg name="init_pose_y" value="8" />
	  <arg name="init_pose_yaw" value="-1.570796" />
      <arg name="robot_name" value="tb13" />
    </include>
  </group>

  <group ns="tb17">
    <param name="tf_prefix" value="tb17" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="0.25" />  
	  <arg name="init_pose_y" value="9" />
	  <arg name="init_pose_yaw" value="-1.570796" />
      <arg name="robot_name" value="tb17" />
    </include>
  </group>

  <group ns="tb10">
    <param name="tf_prefix" value="tb10" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="-7" />  
	  <arg name="init_pose_y" value="0.25" />
	  <arg name="init_pose_yaw" value="0" />
      <arg name="robot_name" value="tb10" />
    </include>
  </group>

  <group ns="tb14">
    <param name="tf_prefix" value="tb14" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="-8" />  
	  <arg name="init_pose_y" value="0.25" />
	  <arg name="init_pose_yaw" value="0" />
      <arg name="robot_name" value="tb14" />
    </include>
  </group>

  <group ns="tb18">
    <param name="tf_prefix" value="tb18" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="-9" />  
	  <arg name="init_pose_y" value="0.25" />
	  <arg name="init_pose_yaw" value="0" />
      <arg name="robot_name" value="tb18" />
    </include>
  </group>

  <group ns="tb11">
    <param name="tf_prefix" value="tb11" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-0.25" />  
	  <arg name="init_pose_y" value="-7" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb11" />
    </include>
  </group>

  <group ns="tb15">
    <param name="tf_prefix" value="tb15" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-0.25" />  
	  <arg name="init_pose_y" value="-8" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb15" />
    </include>
  </group>

  <group ns="tb19">
    <param name="tf_prefix" value="tb19" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-0.25" />  
	  <arg name="init_pose_y" value="-9" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb19" />
    </include>
  </group>

<!--
-->
</launch>

<!--
-->
<!-- This here wont work because the map I made does not exist for the robots
  <group ns="tb4">
    <param name="tf_prefix" value="tb4" />
    <param name="amcl/initial_pose_x" value="-1" />
    <param name="amcl/initial_pose_y" value="-5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-1" />  
	  <arg name="init_pose_y" value="-5" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb4" />
    </include>
  </group>

  <group ns="tb5">
    <param name="tf_prefix" value="tb4" />
    <param name="amcl/initial_pose_x" value="1.5" />
    <param name="amcl/initial_pose_y" value="-5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="1.5" />  
	  <arg name="init_pose_y" value="-5" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb5" />
    </include>
  </group>
-->


<!--
  <group ns="tb0">
    <param name="tf_prefix" value="tb0" />
    <param name="amcl/initial_pose_x" value="5" />
    <param name="amcl/initial_pose_y" value="-0.5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >
	  <arg name="init_pose_x" value="5" />  
	  <arg name="init_pose_y" value="-0.5" />
	  <arg name="init_pose_yaw" value="3.14159267" />
      <arg name="robot_name" value="tb0" />
    </include>
  </group>

  <group ns="tb1">
    <param name="tf_prefix" value="tb1" />
    <param name="amcl/initial_pose_x" value="0.5" />
    <param name="amcl/initial_pose_y" value="5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="0.5" />  
	  <arg name="init_pose_y" value="5" />
	  <arg name="init_pose_yaw" value="-1.570796" />
      <arg name="robot_name" value="tb1" />
    </include>
  </group>

  <group ns="tb2">
    <param name="tf_prefix" value="tb2" />
    <param name="amcl/initial_pose_x" value="-5" />
    <param name="amcl/initial_pose_y" value="0.5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >       
	  <arg name="init_pose_x" value="-5" />  
	  <arg name="init_pose_y" value="0.5" />
	  <arg name="init_pose_yaw" value="0" />
      <arg name="robot_name" value="tb2" />
    </include>
  </group>

  <group ns="tb3">
    <param name="tf_prefix" value="tb3" />
    <param name="amcl/initial_pose_x" value="-0.5" />
    <param name="amcl/initial_pose_y" value="-5" />
    <include file="$(find inter_navi)/launch/one_robot.launch" >      
	  <arg name="init_pose_x" value="-0.5" />  
	  <arg name="init_pose_y" value="-5" />
	  <arg name="init_pose_yaw" value="1.570796" />
      <arg name="robot_name" value="tb3" />
    </include>
  </group>




-->
